* {
    box-sizing: border-box;
}
body {
    // background-image: url(../img/banner/background/background-04.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    background-position: center;
}
.wrapper {
    position: relative;

    .index_banner {
        background-image: url(../img/banner/01.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 50%;
    }

    // 標題
    h2 {
        width: 120px;
        position: relative;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        margin: 0 auto 80px;
        text-shadow: 0px 0px 3px rgba(165, 165, 165, 0.5);

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            display: inline-block;
            height: 3px;
            background-color: black;
            top: 50%;
            right: 100%;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            display: inline-block;
            height: 3px;
            background-color: black;
            top: 50%;
            left: 100%;
        }
    }

    .section_1 {
        width: 100%;
        margin: 150px auto 100px;
        overflow: hidden;
        transition: all 0.5s;

        // 內容
        .section_1_box {
            margin: 0 auto 5px;
            /* border: 1px solid blue; */
            width: 1200px;
            display: flex;
            justify-content: space-between;

            // 上層照片
            .box_1 {
                position: relative;
                overflow: hidden;
                border-radius: 15px;
                img {
                    height: 300px;
                    width: 395px;
                    object-fit: cover;
                    transition: all 1.5s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                span {
                    position: absolute;
                    padding: 5px 15px;
                    font-size: 1.5rem;
                    font-weight: 500;
                    bottom: 5%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    text-shadow: black 0px 0px 2px;
                    color: black;
                    border-radius: 15px;
                    background-color: rgba(255, 255, 255, 0.651);
                    box-shadow: 0px 0px 10px white;
                }
            }

            // 下層照片
            .box_2 {
                position: relative;
                overflow: hidden;
                border-radius: 15px;

                img {
                    height: 300px;
                    width: 595px;
                    object-fit: cover;
                    transition: all 1.5s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                span {
                    position: absolute;
                    padding: 5px 15px;
                    font-size: 1.5rem;
                    font-weight: 500;
                    bottom: 5%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    text-shadow: black 0px 0px 2px;
                    color: black;
                    border-radius: 15px;
                    background-color: rgba(255, 255, 255, 0.651);
                    box-shadow: 0px 0px 10px white;
                }
            }
        }
    }

    .section_2 {
        background-image: url(../img/banner/background/background-01.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 50px 0;

        // 內容
        .section_2_content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .abgne_tab {
                width: 1200px;

                .tab_container {
                    width: 100%;
                    display: flex;

                    .tab_content {
                        display: flex;

                        // 消除照片間隙
                        .item_img {
                            font-size: 0;
                            img {
                                height: 300px;
                                width: 600px;
                                border-radius: 100px 0px 50px 0px;
                                margin-right: 100px;
                                object-fit: cover;
                            }
                        }
                        // 內容
                        .item_p {
                            position: relative;
                            align-self: center;
                            height: 250px;
                            border-radius: 20px;
                            background-color: #ffe66d;
                            &::after {
                                content: "";
                                position: absolute;
                                background-image: url(../../img/icon/arrival.png);
                                background-size: cover;
                                right: 0;
                                top: -70px;
                                width: 200px;
                                height: 150px;
                            }

                            // 虛線框
                            .item_border {
                                border: 2px dashed #4ecdc4;
                                border-radius: 20px;
                                margin: 13px 10px;
                                height: 220px;
                                position: relative;

                                h3 {
                                    font-size: 20px;
                                    font-weight: 700;
                                    margin: 20px 15px;
                                }

                                p {
                                    margin: 20px 15px;
                                    font-size: 18px;
                                    letter-spacing: 1.25px;
                                    line-height: 1.6;
                                }

                                a {
                                    display: inline-block;
                                    position: absolute;
                                    bottom: 15px;
                                    right: 35px;
                                    text-decoration: none;
                                    color: #888;
                                    transition: all 0.5s;
                                    border-bottom: 1px solid #888;
                                    &:hover {
                                        transform: scale(1.2);
                                        color: black;
                                        border-bottom: 1px solid black;
                                    }
                                }
                            }
                        }
                    }
                }

                .tabs {
                    margin: 50px auto;
                    width: 100%;
                    justify-content: space-between;
                    display: flex;
                    transition: all 0.5s;

                    li {
                        width: 200px;
                        text-align: center;
                        overflow: hidden;
                        position: relative;
                        cursor: pointer;
                        font-size: 0;
                        &:active {
                            animation-name: btn_active;
                            animation-duration: 3s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                        }

                        a {
                            display: block;
                            text-decoration: none;
                            color: white;

                            img {
                                width: 200px;
                                height: 200px;
                                -o-object-fit: cover;
                                object-fit: cover;
                                border-radius: 100%;
                                transition: all 0.5s;
                            }

                            .img_title {
                                /* border: 1px solid black; */
                                width: 50px;
                                height: 30px;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 30px;
                                text-shadow: 0px 0px 5px black;
                                color: white;
                                /* background: rgba(0, 0, 0, 0.8); */
                                font-family: Microsoft JhengHei;
                                position: absolute;
                                bottom: 10px;
                                left: 75px;
                            }
                        }
                    }
                }
            }
        }
    }

    .section_3 {
        width: 1200px;
        margin: 100px auto 100px;

        // 內容

        //外層
        .section_3_container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .section_3_box {
            border: 1px solid rgba(0, 0, 0, 0.125);
            width: 350px;
            border-radius: 20px;
            overflow: hidden;
            margin-bottom: 40px;
            transition: all 0.5s;
            background-color: white;

            // 圖片
            .secImg {
                overflow: hidden;
                font-size: 0;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 240px;
                    transition: all 2s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            // 狀態欄
            .sec3_status {
                // border: 1px solid;
                margin: 10px 0 20px;
                padding: 0 15px;
                display: flex;
                align-items: center;

                .sec3_status--icon {
                    font-size: 0;
                    img {
                        width: 20px;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    span {
                        font-size: 1rem;
                        vertical-align: middle;
                    }
                }

                // 第一個圖案變大
                .sec3_status--icon:nth-child(1) {
                    flex-grow: 1;
                    img {
                        width: 40px;
                    }
                }
                // 推左距離
                .sec3_status--icon + .sec3_status--icon {
                    margin-left: 10px;
                }
            }

            //內文文字
            .sec3_text {
                padding: 0 15px;
                margin-bottom: 20px;
                h3 {
                    font-size: 1.125rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                p {
                    letter-spacing: 1.5px;
                    line-height: 25px;
                }
            }
        }
        .section_3_box:nth-child(4),
        .section_3_box:nth-child(5),
        .section_3_box:nth-child(6) {
            margin-bottom: 0;
        }
    }

    .more {
        display: block;
        width: 120px;
        margin: 50px auto 0;
        font-size: 1.25rem;
        font-weight: bold;
        text-decoration: none;
        padding: 7px 0;
        text-align: center;
        color: white;
        border-radius: 10px;
        background-color: rgb(10, 81, 135);
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
        transition: all 0.5s;

        &:hover {
            filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.3));
            background-color: orange;
            color: black;
        }
    }
}

// RWD 專區
@media screen and (max-width: 1200px) {
    .wrapper {
        .section_1 {
            margin: 80px auto 80px;
            .section_1_box {
                width: 100%;
                margin-bottom: 5px;
                display: flex;

                .box_1 {
                    img {
                        margin: 0 2px;
                        width: 99%;
                        height: 100%;
                    }
                }

                .box_2 {
                    img {
                        margin: 0 2px;
                        width: 99%;
                        height: 100%;
                    }
                }
            }
        }
        .section_2 {
            .section_2_content {
                .abgne_tab {
                    width: 100%;
                    flex-direction: column;

                    // 圖片 文字
                    .tab_container {
                        .tab_content {
                            width: 100%;
                            flex-direction: column;

                            .item_img {
                                padding: 0 25px;
                                > img {
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                            .item_p {
                                margin: 10px 20px;
                            }
                        }
                    }
                    // 切換標籤
                    .tabs {
                        margin: 10px auto;
                        display: flex;

                        > li > a {
                            img {
                                width: 180px;
                                height: 180px;
                            }
                            .img_title {
                                left: 70px;
                                bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
        .section_3 {
            width: 100%;
            margin: 80px auto 80px;
            .section_3_box {
                width: 45%;
                margin-bottom: 30px !important;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .wrapper {
        .section_2 {
            .section_2_content {
                .abgne_tab {
                    .tabs {
                        margin: 10px auto;
                        display: flex;

                        > li > a {
                            img {
                                width: 150px;
                                height: 150px;
                            }
                            .img_title {
                                left: 55px;
                                bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .index_banner {
            padding-top: 60%;
        }
        .section_1 {
            .section_1_box {
                .box_1,
                .box_2 {
                    span {
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .section_2 {
            .section_2_content {
                .abgne_tab {
                    // 圖片 文字
                    .tab_container {
                        .tab_content {
                            width: 100%;
                            flex-direction: column;

                            .item_img {
                                padding: 0 15px;
                            }
                            .item_p {
                                margin: 10px 10px;
                                .item_border {
                                    p {
                                        line-height: 1.3;
                                    }
                                }
                            }
                        }
                    }

                    .tabs {
                        // border: 1px solid red;
                        display: inline-block;
                        padding: 15px 0;
                        font-size: 0;
                        white-space: nowrap;
                        overflow-x: scroll;

                        > li {
                            display: inline-block;
                            margin: 0px 10px;
                            width: 160px;

                            > a {
                                img {
                                    width: 160px;
                                    height: 160px;
                                }
                                .img_title {
                                    left: 55px;
                                    bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        h2 {
            margin-bottom: 50px;
            &::after {
                width: 50%;
            }
            &::before {
                width: 50%;
            }
        }
        .section_3 {
            .section_3_box {
                width: 95%;
            }
        }
    }
}
@media screen and (max-width: 499px) {
    .wrapper {
        .section_2 {
            .section_2_content {
                .abgne_tab {
                    // 圖片 文字
                    .tab_container {
                        .tab_content {
                            width: 100%;
                            flex-direction: column;

                            .item_img {
                                padding: 0 15px;

                                > img {
                                    height: 200px;
                                }
                            }
                            .item_p {
                                margin: 10px 10px;
                                .item_border {
                                    h2 {
                                        font-size: 1.125rem;
                                    }
                                    p {
                                        line-height: 1.2;
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
