<div class="lightbox-target" id="lightbox">
    <div id="cancel_login"></div>
    <div class="content">
        <form action="" class="registered_login">
            <div class="registered_login_img">
                <img src="./img/logo/logo2.svg" alt="" />
            </div>
            <h1>會員登入</h1>
            <div class="registered_block">
                <label for="">帳號 :</label>
                <input type="text" name="" id="" />
            </div>
            <div class="registered_block">
                <label for="">密碼 :</label>
                <input type="text" name="" id="" />
            </div>
            <div class="registered_block">
                <input type="checkbox" name="" id="re" class="re" />
                <label for="re" class="rePsw">記住我</label>
            </div>
            <div class="registered_log">
                <a href="">登入</a>
            </div>
            <div class="registered_block">
                <a href="">註冊</a>
                <a href="">忘記密碼</a>
            </div>
        </form>
        <a href="#" id="lightboxClose"></a>
    </div>
</div>
