<div class="lightbox-target" id="lightbox">
    <div id="cancel_login"></div>
    <div class="content">
        <form action="" class="registered_login">
            <ul class="registor">
                <li><img src="./img/logo/logo2.svg" alt="" /></li>
                <li><h2>會員登入</h2></li>
                <li class="reg-login">
                    <span>
                        <label for="">帳號 :</label>
                        <input type="text" name="" id="" />
                    </span>
                    <span>
                        <label for="">密碼 :</label>
                        <input type="text" name="" id="" />
                    </span>
                </li>
                <li>
                    <span>
                        <input type="checkbox" name="" id="re" class="re" />
                        <label for="re" class="rePsw">記住我</label>
                    </span>
                </li>
                <li class="reg-btn"><a href="">登入</a></li>
                <li class="reg-reset"><a href="">註冊</a> <a href="">忘記密碼</a></li>
            </ul>
        </form>
        <a href="#" id="lightboxClose"></a>
    </div>
</div>
