<footer>
    <div class="footer">
        <div class="footer_section_1">
            <ul class="footer01">
                <li><p>關於旅遊日記</p></li>
                <li><a href="">關於我們</a></li>
                <li><a href="">聯絡我們</a></li>
                <li><a href="">服務條款</a></li>
                <li><a href="">人才招募</a></li>
            </ul>
            <ul class="footer01">
                <li><p>旅遊日記地圖</p></li>
                <li><a href="">首頁</a></li>
                <li><a href="">搜尋景點</a></li>
                <li><a href="">話題專欄</a></li>
                <li><a href="">聯絡資訊</a></li>
            </ul>
            <ul class="footer01">
                <li><p>客服中心</p></li>
                <li><a href="">會員帳號密碼</a></li>
                <li><a href="">常見問題</a></li>
                <li><a href="">幫助中心</a></li>
                <li><a href="">客服信箱</a></li>
            </ul>
        </div>
        <div class="footer_section_2">
            <ul class="footer02">
                <li><img src="./img/logo/logo2.svg" alt="" /></li>
                <li>
                    <a href="#"><img src="./img/icon/facebook.svg" alt="" /></a>
                    <a href="#"><img src="./img/icon/instagram.svg" alt="" /></a>
                    <a href="#"><img src="./img/icon/twitter.svg" alt="" /></a>
                </li>
            </ul>
        </div>
        <div class="footer_section_3">
            <p>2019 &copy Travel Journal All Right Reserved</p>
        </div>
    </div>
</footer>
