<header class="header">
    <!-- LOGO -->
    <div class="logo">
        <a href="./index.html"><img src="./img/logo/logo1.svg" /></a>
    </div>
    <!-- 選單 -->
    <nav class="main_nav">
        <ul class="nav_list">
            <li><a href="./location.html" class="bottom_line @@001">搜尋景點</a></li>
            <li><a href="./colimn.html" class="bottom_line @@002">旅遊分享</a></li>
            <li><a href="./topic.html" class="bottom_line @@003">話題專欄</a></li>
            <li><a href="./connection.html" class="bottom_line @@004">聯絡資訊</a></li>
            <li><a href="#" class="bottom_line button" id="login_btn">登入</a></li>
        </ul>
    </nav>
    <!-- 漢堡 -->
    <button class="hamburger hamburger--3dx btn_switch" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</header>
